[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
coverage = "*"
twine = "*"

[packages]
pandas = "*"
us = "*"
census = "*"
click = "*"
urllib3 = ">=1.24.2"
census-map-consolidator = "*"

[requires]
python_version = "3.6"
