[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
coverage = "*"
twine = "*"
jupyterlab = "*"

[packages]
pandas = "*"
us = "*"
census = "*"
click = "*"
jinja2 = "*"
census-data-aggregator = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
